<div class="user-profile">
  <h1><%= @user.name %></h1>
  
  <p>
    <strong>Email:</strong> <%= @user.email %>
  </p>
  
  <p>
    <strong>Status:</strong> <%= @user.admin? ? "Admin" : "User" %>
  </p>

  <div class="actions">
    <%= link_to "Back to users", users_path, class: "btn" %>
    
    <% if current_user == @user %>
      <%= link_to "Edit", edit_user_path(@user), class: "btn" %>
      <%= link_to "Delete account", user_path(@user), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
    <% elsif current_user&.admin? %>
      <% if @user.admin? %>
        <%= button_to "Remove Admin", user_path(@user), method: :patch, params: { user: { admin: false } }, class: "btn" %>
      <% else %>
        <%= button_to "Make Admin", user_path(@user), method: :patch, params: { user: { admin: true } }, class: "btn" %>
      <% end %>
      <%= link_to "Delete user", user_path(@user), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
    <% end %>
  </div>
</div>
